{{> header }}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0 text-center">Crear Rol</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <form action="" method="POST">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese el nombre del rol " required>
                  <span id="nombreError" class="erroresFormulario"></span>
                </div>
                <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxUsuarios" name="roles[]" value="usuarios">
            <label class="form-check-label" for="checkboxUsuarios">Usuarios</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxEmpleados" name="roles[]" value="empleados">
            <label class="form-check-label" for="checkboxEmpleados">Empleados</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxClientes" name="roles[]" value="clientes">
            <label class="form-check-label" for="checkboxClientes">Clientes</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxCategorias" name="roles[]" value="categorias">
            <label class="form-check-label" for="checkboxCategorias">Categorías</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxProductos" name="roles[]" value="productos">
            <label class="form-check-label" for="checkboxProductos">Productos</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxPedidos" name="roles[]" value="pedidos">
            <label class="form-check-label" for="checkboxPedidos">Pedidos</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxOrdenProduccion" name="roles[]" value="ordenproduccion">
            <label class="form-check-label" for="checkboxOrdenProduccion">Orden de producción</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkboxVentas" name="roles[]" value="ventas">
            <label class="form-check-label" for="checkboxVentas">Ventas</label>
          </div>
          <br>
          <div class="form-group text-center">
                  <button id="btnCrearRol" type="button" class="btn btn-primary">Crear</button>
                  <a href="/roles"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                </div>
                <script src="js/funcionesRol.js"></script>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{> footer }}