{{> header }}



 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12 text-center">
            <h1>Roles</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <a class="btn btn-info btn-sm" href="/crearRol">
              <i class="fas fa-new-alt">
              </i>
              Crear Rol
          </a>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped Categorias">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          Código
                      </th>
                      <th style="width: 6%">
                          Rol
                      </th>
                      <th style="width: 1%">
                          Dasboard
                      </th>
                      <th style="width: 1%">
                          Roles
                      </th>
                      <th style="width: 1%">
                          Usuarios
                      </th>
                      <th style="width: 1%">
                          Empleados
                      </th>
                      <th style="width: 1%">
                          Clientes
                      </th>
                      <th style="width: 1%">
                          Categorias
                      </th>
                      <th style="width: 1%">
                          Productos
                      </th>
                      <th style="width: 1%">
                          Pedidos
                      </th>
                      <th style="width: 4%">
                          Orden de Producción
                      </th>
                      <th style="width: 1%">
                          Ventas
                      </th>
                      <th style="width: 1%" class="text-center">
                          Estado
                      </th>
                      <th style="width: 5%" class="text-center">
                          Acciones
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          R1
                      </td>
                      <td>
                          <a>
                              Administrador
                          </a>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                        <div class="custom-control custom-switch text-center">
                          <input type="checkbox" class="custom-control-input" id="check1" checked>
                          <label class="custom-control-label" for="check1"></label>
                        </div>
                      </td>
                      <td class="project-actions text-center">
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                          </a>
                      </td>
                      
                  </tr>

                  <tr>
                      <td>
                          R2
                      </td>
                      <td>
                          <a>
                              Empleado
                          </a>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"  disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"  disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate"  disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" checked disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                          <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" disabled>
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                </label>
                            </div>
                      </td>
                      <td>
                        <div class="custom-control custom-switch text-center">
                          <input type="checkbox" class="custom-control-input" id="check1" checked>
                          <label class="custom-control-label" for="check1"></label>
                        </div>
                      </td>
                      <td class="project-actions text-center">
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                          </a>
                      </td>
                      
                  </tr>

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{{> footer }}